<!-- <div class="container">
  <div class="content-info">
    <h4>EN</h4>
    <div class="person-info">
      <img class="person" src="../../../../assets/images/Navbar/person (2).png" alt="">
      <h6>My Profile</h6>
      <img class="basket" src="../../../../assets/images/Navbar/Basket.png" alt="">
      <h6>Item</h6>
      <h6>0.00 $</h6>
      <img class="person" src="../../../../assets/images/Navbar/search.png" alt="">
    </div>
  </div>
</div> -->

<div class="container">
  <div class="content-info">
    <h6 class="languages">EN</h6>
    <div class="person-info">
      <img class="person" src="../../../../assets/images/Navbar/person (2).png" alt="">
      <h6>My Profile</h6>
      <img class="basket" src="../../../../assets/images/Navbar/Basket.png" alt="">
      <h6 class="item">Items</h6>
      <h6>0.00 $</h6>
      <img class="search" src="../../../../assets/images/Navbar/search.png" alt="">
    </div>
  </div>
  <div class="content">
    <div class="logo-details" routerLink="/">
      <img src="../../../../assets/images/Navbar/Logo.png" alt="">
    </div>
    <div class="nav-pages">
        <h4 routerLink="/home">Home</h4>
        <h4 routerLink="/bags">Bags</h4>
        <h4 routerLink="/women">Women</h4>
        <h4 routerLink="/men">Men</h4>
        <h4 routerLink="/contacts">Contacts</h4>
    </div>
  </div>
</div>
  
