<div class="container">
   <div class="hero">
      <img src="../../../../../assets/images/Home/OfferBanner.png" alt="">
   </div>
   <div class="content">
      <div class="box">
         <h5>FS - QUILTED MAXI CROSS BAG</h5>
         <img src="../../.././../../assets/images/Home/bag.png" alt="">
         <h6>$534.33</h6>
         <h6>24% off</h6>
         <h5>$299,43</h5>
      </div>
      <div class="box">
         <h5>FS - QUILTED MAXI CROSS BAG</h5>
         <img src="../../.././../../assets/images/Home/sneakers.png" alt="">
         <h6>$534.33</h6>
         <h6>24% off</h6>
         <h5>$299,43</h5>
      </div>
      <div class="box">
         <h5>FS - QUILTED MAXI CROSS BAG</h5>
         <img src="../../.././../../assets/images/Home/sneakers(2).png" alt="">
         <h6>$534.33</h6>
         <h6>24% off</h6>
         <h5>$299,43</h5>
      </div>
   </div>
</div>

