.container{
    margin: 0;
    padding: 0;
}
.hero{
  background: url(../../../../../assets/images/Home/OfferBanner.png);
  background-repeat: no-repeat;
  position: center;
}
.content{
  display: flex;
  justify-content: center;
}
.box{
  width: 41.8rem;
  height: 35.8rem;
  // padding: 1rem 1.5rem;
}