<section id="banner" class="banner">
  <div class="bannerBackground">
    <div class="container">
      <div class="bannerBody">

        <div class="bannerContent">
          <h2>
            Adidas Men Running Sneakers
          </h2>
          <h5 class="contentDesc">
            Performance and design. Taken right to the edge.
          </h5>
          <div class="contentLinkBox">
            <a href="#">
              SHOP NOW
            </a>
            <div class="contentLinkUnderline"></div>
          </div>
        </div>
        <div class="bannerImg"></div>

      </div>
    </div>
  </div>
</section>
