<section id="whyus" class="whyus">
  <div class="container">
    <div class="whyusBody">

      <div class="whyusItem">
        <div class="itemImg itemImgShipping">
          <img src="assets/images/home/shipping (2).webp" alt="Feature photo">
        </div>
        <div class="itemTitle">
          <h4>FREE SHIPPING</h4>
        </div>
      </div>

      <div class="whyusItem">
        <div class="itemImg">
          <img src="assets/images/home/refund (1).webp" alt="Feature photo">
        </div>
        <div class="itemTitle">
          <h4>100% REFUND</h4>
        </div>
      </div>

      <div class="whyusItem">
        <div class="itemImg">
          <img src="assets/images/home/support (1).webp" alt="Feature photo">
        </div>
        <div class="itemTitle">
          <h4>SUPPORT 24/7</h4>
        </div>
      </div>

    </div>
  </div>
</section>
