<svg
  xmlns="http://www.w3.org/2000/svg"
  width="15"
  height="16"
  viewBox="0 0 15 16"
  fill="none"
  *ngFor="let percentage of stars"
>
  <defs>
    <linearGradient [attr.id]="'star-gradient-' + percentage" x1="0" x2="1" y1="0" y2="0">
      <stop [attr.offset]="percentage + '%'" stop-color="#FFC600" />
      <stop [attr.offset]="percentage + '%'" stop-color="#C1C8CE" />
    </linearGradient>
  </defs>

  <path
    d="M14.6749 6.26855L10.4235 9.79053L11.6742 15.5145L7.54326 12.0565L3.14623 15.3306L4.84503 9.67053L0.878906 5.97058L6.0594 5.93054L8.00603 0.369629L9.50925 6.00562L14.6749 6.26855Z"
    [attr.fill]="'url(#star-gradient-' + percentage + ')'"
  />
</svg>
