.footer {
  padding: 154px 2rem 26px 2rem;
  background: #bcddfe;
  font-family: "Poppins", sans-serif;

  &-top,
  &-middle,
  &-bottom {
    display: flex;
  }

  &-top {
    justify-content: space-between;
    max-width: 90%;
    &__item {
      .logo {
        display: flex;
        align-items: center;
        gap: 7px;
        font-weight: 700;
        color: var(--color-secondary-dark);
        margin-bottom: 23px;
      }
      h6 {
        color: var(--color-secondary-dark);
        margin-bottom: 23px;
        font-weight: 500;
      }

      p {
        color: var(--color-secondary-dark);
        max-width: 230px;
        font-size: 14px;
        font-family: "Proxima-Nova", sans-serif;

        &.footer-top__item__contact-address {
          font-size: 16px;
          max-width: 160px;
          font-family: inherit;
        }
      }

      &_social_links {
        display: flex;
        align-items: center;
        gap: 23px;
        margin-top: 23px;
      }
    }
  }

  &-middle {
    max-width: 98%;
    justify-content: space-between;
    margin-top: 80px;
    &__item {
      h6 {
        margin-bottom: 23px;
        color: var(--color-secondary-dark);
        font-weight: 400;
      }
      &__navigation_link {
        display: block;
        font-weight: 400;
        color: var(--color-secondary-dark);
        font-size: 14px;
      }
    }
  }

  &-bottom {
    position: relative;
    justify-content: space-between;
    padding: 33px 0;
    margin-top: 68px;
    &::before {
      position: absolute;
      content: "";
      width: 99%;
      height: 1px;
      top: 0;
      display: block;
      left: 1%;
      border-top: 1px solid #f6f6f6;
    }
    &__description {
      color: #c1c8ce;
      font-family: "Proxima-Nova", sans-serif;
      font-size: 14px;
    }

    &__payment_info {
      display: flex;
      align-items: center;
      gap: 21px;
    }
  }

  @media screen and (max-width: 768px) {
    &-top,
    &-middle {
      flex-wrap: wrap;
      gap: 20px;
      &__item {
        width: 40%;

        .logo,
        h6 {
          margin-bottom: 16px;
        }
      }
    }

    &-middle {
      &__item {
        width: 30%;
      }
    }
  }
}
