<section id="cart" class="cart">
  <div class="constainer">
    <div class="cartBox">
      <div class="cartBoxTitle">
        <h5>PRODUCT</h5>
        <h5>PRICE</h5>
        <h5>QTY</h5>
        <h5>UNIT PRICE</h5>
      </div>

      <div class="cartBoxItems">
        <div class="cartItem">
          <button class="itemCancelBtn">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <div class="itemImg">
            <img src="assets/images/cart/Product Image (2).webp" alt="Product Photo">
          </div>
          <h5 class="itemTitle">Nike Airmax 270 react</h5>

          <div class="itemPriceBox">
            <h5 class="itemPrice">{{itemPrice | currency:'USD':'symbol':'1.0'}}</h5>
            <div class="itemQuanty">
              <button class="itemQuantyMinusBtn" (click)="calculateUnitPrice('minus')">
                <i class="fa-solid fa-minus"></i>
              </button>
              <input type="number" [(ngModel)]="itemQuanty">
              <button class="itemQuantyPlusBtn" (click)="calculateUnitPrice('plus')">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <h5 class="itemUnitPrice">{{itemUnitPrice | currency: 'USD':'symbol':'1.0'}}</h5>
          </div>

        </div>
      </div>

      <div class="boxVaucherWarapper">
        <div class="boxVaucher">
          <input type="text" placeholder="Vaucher code" class="vaucherInput">
          <button>Redeem</button>
        </div>

        <div class="boxCheckOut">

          <div class="checkOutSubtotal checkOutTitle">
            <p>Subtotal</p>
            <p>{{itemUnitPrice | currency: 'USD':'symbol':'1.0'}}</p>
          </div>

          <div class="checkOutShippingFee checkOutTitle">
            <p>Shipping fee</p>
            <p>{{shippingFee | currency: 'USD':'symbol':'1.0'}}</p>
          </div>

          <div class="checkOutCoupon checkOutTitle">
            <p>Coupon</p>
            <p *ngIf="(vaucherCode | json) != '{}'; else noCoupon">{{vaucherCode.first + '%'}}</p>
            <ng-template #noCoupon>
              <p>No</p>
            </ng-template>
          </div>

          <div class="checkOutTotal">
            <p>TOTAL</p>
            <p>{{checkOutTotal | currency: 'USD':'symbol':'1.0'}}</p>
          </div>

          <button class="checkOutBtn">Check Out</button>
        </div>
      </div>
    </div>
  </div>
</section>

