<section id="cart" class="cart">
  <div class="constainer">
    <div class="cartBox">
      <div class="cartBoxTitle">
        <h5>PRODUCT</h5>
        <h5>PRICE</h5>
        <h5>QTY</h5>
        <h5>UNIT PRICE</h5>
      </div>

      <div class="cartBoxItems">
        <div class="cartItem">
          <button class="itemCancelBtn">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <div class="itemImg">
            <img src="assets/images/Product Image (2).webp" alt="Product Photo">
          </div>
          <h5 class="itemTitle">Nike Airmax 270 react</h5>

          <div class="itemPriceBox">
            <h5 class="itemPrice">$998</h5>
            <div class="itemQuanty">
              <button>
                <i class="fa-solid fa-minus"></i>
              </button>
              <input type="number" value="1">
              <button>
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <h5 class="itemUnitPrice">$499</h5>
          </div>

        </div>
      </div>

      <div>
        <div class="boxVaucher">
          <input type="text" class="vaucherInput">
          <button></button>
        </div>

        <div class="boxCheckOut">

          <div class="checkOutSubtotal">
            <p>Subtotal</p>
            <p>$980</p>
          </div>

          <div class="checkOutShippingFee">
            <p>Shipping fee</p>
            <p>$20</p>
          </div>

          <div class="checkOutCoupon">
            <p>Coupon</p>
            <p>No</p>
          </div>

          <div class="checkOutTotal">
            <p>TOTAL</p>
            <p>$1000</p>
          </div>

          <button class="checkOutBtn"></button>
        </div>
      </div>
    </div>
  </div>
</section>

