.section-wrapper {
    // background-color: lightblue;
  padding: 0 8rem;
  h3 {
    text-align: center;
    text-transform: capitalize;
    font-family: "Poppins";
    margin-bottom: 2.6rem;
  }
  .navigation-bar {
    display: flex;
    gap: 6.4rem;
    max-width: max-content;
    margin: 0 auto;
    .navigation-bar__item {
      color: #262626;
      font-family: "Poppins";
      font-size: 2.2rem;
      text-transform: capitalize;
      label {
        cursor: pointer;
        &::after {
          display: block;
          content: "";
          height: 3px;
          width: 0;
          background-color: #33a0ff;
          transition: all 0.25s linear;
        }
      }
      input {
        display: none;
      }
      input:checked + label {
        color: #33a0ff;
        &::after {
          width: 100%;
        }
      }
    }
  }
}

.products-grid {
  padding: 2.4rem 0;
  .products-grid__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 4rem;
    column-gap: 3.2rem;
  }
  .products-placeholder {
    text-align: center;
    text-transform: capitalize;
    font-family: "Poppins";
    font-size: 1.8rem;
    padding: 4rem 0;
  }
}


.btn-load-more {
  display: block;
  margin: 0 auto;
  max-width: max-content;
  color: #33a0ff;
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  &::after {
    display: block;
    content: "";
    height: 3px;
    width: 0;
    background-color: #33a0ff;
    transition: all 0.25s linear;
  }
  &:hover::after {
    width: 100%;
  }
}
